node_modules/
tmp/
aarchives/
out_abis/
lib/forge-std/
#.vscode/
package-lock.json
zz*
src/z*
flat*.sol
abi
keystore
src/Counter.sol

# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/11155111/
/broadcast/*/84532/
/broadcast/**/dry-run/
#broadcast

# Docs
docs/

# Dotenv file
.env
.env.*
!.env.example
venv
.encryptedKey

.gas-snapshot
.DS_Store
src/.DS_Store

# Rust
debug/
target/

# Remove Cargo.lock from gitignore if creating an executable, leave it for libraries
Cargo.lock
**/*.rs.bk
*.pdb
.idea/
